<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    <link rel="stylesheet" href="output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body{
            height: 100%;
   overflow-y: hidden;
        }
    </style>
    
</head>
<body class="">
    <div class="">
        <div class="container mx-auto px-4 bg-gradient-to-r from-slate-400 via-sky-300 to-slate-500 h-32 m-7 rounded-3xl items-center flex justify-center">
            <p class=" font-mono font-extrabold text-[30px] ">Book an Appointmen</p>
        </div>
    
        <section class="bg-gray-50 dark:bg-gray-900 relative top-[-50px]">
            <div class="flex flex-col items-center justify-center px-6  mx-auto md:h-screen lg:py-0">
                
                <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                        
                        <form class="space-y-4 md:space-y-6" action="#">
                            <div>
                                <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Name</label>
                                <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="xyz" required="">
                            </div>
                            <div>
                                <label for="phone no" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone No.</label>
                                <input type="text" name="phone" id="phone" placeholder="XXXXXXXXXX" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                            </div>
                            <div>
                                <label for="msg" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Message</label>
                                <input type="text" name="phone" id="phone"  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                            </div>
                            
                                
                            </div>
                            <div class=" flex items-center justify-center flex-col gap-4"><button type="submit" class="w-auto    bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 ">Submit</button>
                            
                            <p class="text-sm font-light text-gray-500 dark:text-gray-400 py-4">
                                Don’t have an account yet? <a href="./signup.html" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign Up</a> </div>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
          </section>
    
    </div>
   
    
</body>
</html>