<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthPie</title>
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <div class="main">

        <!-- home-page -->

        <div id="home_page" class="home-page relative min-w-full mt-6 ml-4 max-h-screen text-[#393D3F]">
            <div class="nav-bar flex  justify-around w-full sm:justify-between ">
                <div class="logo flex gap-6 ">
                    <h2 class="font-bold text-xl sm:text-2xl pt-5 pl-7 text-green-500">Health Pie</h2>
                </div>
                <div class="nav-links ml-10 sm:flex max-w-full">
                    <ol class="text-xl text-red-500 flex gap-5 pt-5 font-semibold list-none pr-[4vw]  ">
                        <li class="sm:hidden"><a  href="#home_page">Home</a></li>
                        <li class="sm:hidden"><a href="signup.html">Sign Up</a></li>
                        <li class="sm:hidden"><a href="login.html">Login</a></li>


                    </ol>
                </div>
            </div>

            <div class="hero-section flex justify-between sm:flex-row sm:justify-between">
                <div class="hero-text max-sm:block">
                    <p class="text-8xl font-bold m-[8vw]">Switch To <br> <span class="text-9xl font-['Kushan_Script']"> <em>HEALTHY</em></span>
                    </p>

                    <div class="btn-class items-center flex justify-center sm:flex-row  sm:items-start ">
                        <button
                        onclick="openPage('login')"
                            class="w-max px-3 text-xl py-1 border-2 rounded-2xl border-[#D32243] font-semibold text-[#D32243] " >LOGIN</button>
                        <button 
                        onclick="openPage('signup')"
                            class="w-max border-2 px-3 py-1 rounded-2xl text-xl border-[#D32243] font-semibold text-[#D32243] ml-20">
                            SIGNUP
                           
                        </button>
                    </div>
                </div>
                <div class="hero-img">
                    <img class="sm:block" src="./images/hero-img.jpg" alt="" >

                </div>
            </div>
        </div>
       
        
    </div>
    <script>
        function openPage(pageName) {
          window.location.href = pageName + '.html';
        }
      </script>
       

</body>
</html>