
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div id="login" class="log-in-form">
        <label for="email">Email
            <input type="email">
        </label>
        <label for="password">Password
            <input type="password">
        </label>
        <button>Login In</button>
    </div>
</body>
</html>