<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="/src/input.css">
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        import {BASE_URL} from "./utils/config.js";

        function runCode(){
            data={email,password,username,contact,role};

            fetch(`${BASE_URL}/login`,{
                method:"POST",
                headers:{ 'Content-Type' : 'application/json'},
                body:JSON.stringify(data)
            }).then((res)=>{
                console.log(res);
                res.text();
            });
        }
    </script>
</head>

<body>
    <div id="signup" class="sign-up-form min-h-screen justify-center flex items-center">
        
        <form method="post" action="/signup/create">

    <div class="form-cont flex items-center justify-center flex-col gap-6">
        <h1 class="text-3xl text-[#393D3F] font-semibold max-sm:text-6xl">Sign Up Form</h1>
            <div class="input-label flex flex-col">
                <label class="text-[#548C73]= text-xl" for="name">Name</label>
                <input required class="border-2 w-[30vw] h-10 outline-none border-[#D32243] rounded-xl  max-sm:w-full " name="username" type="text">
            </div>

            <div class="input-label flex flex-col">
                <label class="text-[#548C73] text-xl" for="number">Contact No.</label>
                <input required class="border-2 w-[30vw] h-10 outline-none border-[#D32243] rounded-xl max-sm:w-full" name="contact" type="string">
            </div>

            <div class="input-label flex flex-col">
                <label class="text-[#548C73] text-xl" for="email">Email</label>
                <input required class="border-2 w-[30vw] h-10 outline-none border-[#D32243] rounded-xl max-sm:w-full" name="email" type="email">
            </div>

            <div class="input-label flex flex-col">
                <label class="text-[#548C73] text-xl" for="password">Password</label>
                <input required class="border-2 w-[30vw] h-10 outline-none border-[#D32243] rounded-xl max-sm:w-full" name="password" type="password">
            </div>

            <div class="input-label flex flex-col">
                <label class="text-[#548C73] text-xl" for="role">Choose Your Role</label>  
                
                <select onchange="Upload()" required class="text-xl  text-[#393D3F] border-2 w-[30vw] h-10 outline-none border-[#D32243] rounded-xl max-sm:w-full"   name="role" id="role">
                    <option value="User">User</option>
                    <option value="Doctor">Doctor</option>
                </select>
           </div>

            <div id="docUpload" class="input-label flex flex-col hidden ">
               <div>
                <label class=" text-xl text-[#548C73]" for="document">Upload Your Self-Attested Certificate</label>
            <input required class="text-black text-xl bg-transparent" name="identity" type="file">
               </div>

                <label class="text-[#548C73] text-xl" for="password">Experience</label>
                <input required class="w-[30vw] h-10 outine-none border-2 border-[#D32243]  rounded-xl max-sm:w-full" name="expereince" type="text">
                
                <label class="text-[#548C73] text-xl" for="password">Location</label>
                <input required class="w-[30vw] h-10 outine-none border-2 border-[#D32243]  rounded-xl max-sm:w-full" name="language" type="text">
                
                <label class="text-[#548C73] text-xl" for="password">Speciality</label>
                <input required class="w-[30vw] h-10 outine-none border-2 border-[#D32243]  rounded-xl max-sm:w-full" name="speciality" type="text">
                
                  </div>
            
            <button type="submit"
                class="w-max border-2 mt-10 px-3 py-1 rounded-2xl text-xl border-[#D32243] font-semibold text-[#D32243] focus:outline-none focus:shadow-outline hover:scale-105 transition-2s ">
                SIGNUP</button>
        </div>
    </form>


    </div>

    <script>
        function Upload() {
          var roleSelect = document.getElementById('role');
          var documentUpload = document.getElementById('docUpload');
      
          if (roleSelect.value === 'Doctor') {
            documentUpload.classList.remove('hidden');
            documentUpload.innerHTML=

            `<label class=" text-xl text-[#548C73]" for="document">Upload Your Self-Attested Certificate</label>
            <input required class="text-black text-xl bg-transparent" name="identity" type="file">

            <label class="text-[#548C73] text-xl" for="password">Experience</label>
            <input required class="w-[30vw] h-10 outline-none border-2 rounded-xl border-[#D32243] text-black text-xl" name="expereince" type="text">
            
            <label class="text-[#548C73] text-xl" for="password">Language</label>
            <input required class="w-[30vw] h-10 outline-none border-2 rounded-xl border-[#D32243] text-black text-xl" name="language" type="text">
            
            <label class="text-[#548C73] text-xl" for="password">Speciality</label>
            <input required class="w-[30vw] h-10 outline-none border-2 rounded-xl border-[#D32243] text-black text-xl" name="typeof" type="text">
            
         
            `;
          } else {
            documentUpload.classList.add('hidden');
            documentUpload.innerHTML=`
            <label class=" text-xl text-[#548C73]" for="document">Upload Your Self-Attested Certificate</label>
            <input class="text-black text-xl bg-transparent" name="identity" type="file">
            
            <label class="text-[#548C73] text-xl" for="password">Experience</label>
            <input class="w-[30vw] h-10 outline-none border-2 border-[#D32243]  rounded-xl text-black text-xl" name="expereince" type="text">

            <label class="text-[#548C73] text-xl" for="password">Language</label>
            <input class="w-[30vw] h-10 outline-none border-2 border-[#D32243]  rounded-xl text-black text-xl" name="language" type="text">

            <label class="text-[#548C73] text-xl" for="password">Speciality</label>
            <input class="w-[30vw] h-10 outline-none border-2 border-[#D32243]  rounded-xl text-black text-xl" name="speciality" type="text">`;
          }
        }
    </script>

</body>

</html>