<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
    <div id="signup" class="sign-up-form flex justify-center items-center">
        <div class="form flex flex-col justify-center item">


            <div class="input-label flex flex-col">
                <label class="text-green-400" for="name">Name</label>
                <input class="border-2 border-[#D32243] rounded-xl" type="text">
            </div>

            <div class="input-label flex flex-col">
                <label class="text-green-400" for="name">Contact No.</label>
                <input class="border-2 border-[#D32243] rounded-xl" type="string">
            </div>

            <div class="input-label flex flex-col">
                <label class="text-green-400" for="name">Email</label>
                <input class="border-2 border-[#D32243] rounded-xl" type="email">
            </div>

            <div class="input-label flex flex-col">
                <label class="text-green-400" for="email">Password</label>
                <input class="border-2 border-[#D32243] rounded-xl" type="password">
            </div>

            <div class="input-label flex flex-col">
                <select name="role" id="role">
                    <option value="role">Patient</option>
                    <option value="role">Doctor</option>
                </select>
            </div>







            <label for="document">
                <input type="file">
            </label>
            <button>Sign In</button>
        </div>

    </div>

</body>

</html>